<footer>
    <br>
    <div class="footer" id="footer">
        <p>Copyright ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            <br>
            <a id="footerLink" href="https://www.allenjones.dev">Allen Jones</a>
        </p>
    </div>
    <br>
</footer>