<header>
    <div class="m-4">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="/courses" class="navbar-brand">
                    <img src="../public/images/DGCElogo.png" height="42" alt="DGCE Logo">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/courses" class="nav-item nav-link">All Courses</a>
                        <a href="/courses/new" class="nav-item nav-link">Add New Course</a>
                        <a href="https://www.pdga.com/" target="_blank" class="nav-item nav-link">PDGA Website</a>
                        <a href="https://www.reddit.com/r/discgolf/" target="_blank" class="nav-item nav-link">Disc Golf Subreddit</a>
                        <a href="https://gottagogottathrow.com/" target="_blank" class="nav-item nav-link">Disc Golf Equipment</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>