<header>
    <a href="/courses">
        <h1>Disc Golf Course Explorer</h1>
    </a>
    <nav>
        <ol>
            <li>
                <a href="/courses">Course Listing</a>
            </li>
            <li>
                <a href="/"></a>
            </li>
        </ol>
    </nav>
</header>