<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course Information</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/courses/<%=course._id%>?_method=PUT" method="POST">
        Course Name: <input type="text" name="name" value="<%= course.name%>"><br>
        <input type="submit" value="Submit Changes">
    </form>
    <a href="/courses">Back to Course Listing</a>
</body>
</html>
