<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <ul>
        <% courses.forEach(course => { %>
            <li>
                <a href="/courses/<%=course._id;%>"><%=course.name;%></a>
                <form action="/courses/<%=course.id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/courses<%=course._id%>/edit">Edit Course</a>
            </li>
        <% }); %>
    </ul>
    <a href="/new">Add A New Course</a>
</body>
</html>