body {
    background-color: rgb(49, 49, 49);
    color: white;
}
.navbar {
    background-color: rgb(49, 49, 49);
}
.navbar-nav {
    background-color: rgb(49, 49, 49);
}
.div-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    max-width: 75%;
    
}
.img-404 {
    padding: 3%;
}
.edit-area {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    background-color: black;
    border-radius: 50px;
}

.new-area {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    background-color: black;
    border-radius: 50px;
}

.hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.hero-image {
    background: url("/public/images/DGCElogocrop.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 40px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.hero-text h1 {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.course-image-index {
    height: 30vh;
    
}

.course-list {
    color: black;
}

.list-group-item {
    background-color: lightsteelblue;
}
.index-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

/* SHOW PAGE */

.show {
    padding: 2em;
    border: 1em solid black;
    border-radius: 4em;
}
#show-name {
    color: forestgreen;
    font-weight: bolder;
    font-size: 5vw;
}

#show-location {
    font-size: 3vw;
}
#show-holes, #show-waterHoles, #show-teeType, #show-cost, #show-beginnerFriendly, #show-description, #show-photos {
    color:rgb(22, 153, 146);
    font-weight: bold;
}

